.leaguetable{
  height: 550px;
  background-image: url("../image/table/bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
}
table{
width:900px;

}


#table {

  font-family: sans-serif;
  font-size: 11pt;

}

#table th, td{
  border: 1px solid black;
  border-collapse: collapse;
  opacity: 0.95;
}

th, td{
  padding: 10px;
  text-align: center;
}

th {
  background-color: #a70000;
  color: white;
}

tr:nth-child(even){
  background-color: #e8e8e8;
}

tr:nth-child(odd){
  background-color: white;
}
@media screen and (max-width:768px )and (min-width:420px)
{
table{
width:400px;
}
}
@media screen and (max-width:420px) {
  table{
  width:00px;
  }

}
